.Weather {
  background: linear-gradient(
    243.18deg,
    #9065bc 0%,
    rgba(255, 0, 108, 0.38) 100%
  );
  padding-top: 15px;
  font-family: "Roboto", sans-serif;
  color: white;
  line-height: 120%;
}
.Weather img {
  width: 90px;
  opacity: 0.8;
}
.Weather h1 {
  font-weight: 100;
  font-size: 100px;
}

.Weather h4 {
  font-weight: 300;
  font-size: 26px;
}
.Weather h3 {
  font-weight: 300;
  font-size: 24px;
}
.unit {
  font-size: 50px;
  vertical-align: top;
}
.time {
  font-size: 29px;
  font-weight: 400;
}
.param span {
  margin: 5px;
  font-weight: 300;
  font-size: 15px;
}
.search-full {
  background-color: #d6d6d6;
  opacity: 0.1;
}
.search-field {
  display: flex;
  font-size: 20px;
}
.search {
  background: transparent;
  color: white;
  border: none;
  width: 70%;
  outline: none;
  margin-bottom: 50px;
}
.search::placeholder {
  color: white;
}

.ok {
  background: linear #f8f8f8;
  width: 15%;
}
